@font-face {
    font-family: 'Franklin Gothic Book';
    src: url(../fonts/FRABK.woff);
    ;
}

@font-face {
    font-family: 'Angsana New';
    src: url(../fonts/angsa.ttf);
    ;
}

@font-face {
    font-family: 'Franklin Gothic Heavy';
    src: url(../fonts/frahv.ttf);
    ;
}

@media (max-width: 480px) {
    body {
        width: 480px;
    }
    #contenedor {
        width: 480px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/imagnefondo.jpg");
    background-size: 1345px 900px;
    width: 1345px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

#contenedor {
    width: 1280px;
    height: 330px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    color: #fff;
    margin: auto;
    background-image: url("../img/fondo1.jpg");
}

.contenedor-imagen p {
    position: absolute;
    width: 600px;
    margin-top: 50px;
    margin-left: 500px;
    font-family: Angsana New;
    font-size: 40px;
}

.contenedor-menu {
    width: 180px;
    height: 513px;
    margin: auto;
    margin-top: 1px;
    border-radius: 10px;
    background: #F47920;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: arial;
    font-size: 20px;
    line-height: 18px;
    margin-left: 30px;
    float: left;
    font-family: Franklin Gothic Book;
}

.contenedor-menu .menu {
    width: 180px;
}

.contenedor-menu ul {
    list-style: none;
}

.contenedor-menu .menu li a {
    color: #000000;
    display: block;
    padding: 20px 20px;
    background: #F47920;
    border-radius: 10px;
    text-decoration: none;
    font-family: Franklin Gothic Book;
    font-size: 20px;
}

.contenedor-menu .menu li a:hover {
    background: #005883;
    color: #fff;
}

.contenedor-menu .menu .icono {
    font-size: 15px;
    line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px;
}

.contenedor-menu .menu ul {
    display: none;
}

.contenedor-menu .menu ul li a {
    background: #424242;
    color: #e9e9e9;
}

img.uno {
    width: 100px;
    height: 100px;
}

img.dos {
    width: 300px;
    height: 150px;
    border: 1px solid;
}
img.tres {
    width: 120px;
    height: 150px;
    border: 1px solid;
}

#articulos {
    width: 400px;
    margin: auto;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #F0B429;
    display: inline-block;
    color: black;
}

#articulos a {
    color: black;
    font-family: Franklin Gothic Heavy;
}

#articulos1 {
    width: 880px;
    margin: auto;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #ffffff;
    display: inline-block;
}

#articulos2 {
    width: 880px;
    margin: auto;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #ffffff;
    display: inline-block;
}

.contenido .lecturas2 a {
    font-size: 25px;
    font-family: Franklin Gothic Book;
    color: black;
}

#articulos h2 {
    font-size: 20px;
    padding: 10px;
    color: #000000;
    border-bottom: 1px solid #000000;
    font-family: Franklin Gothic Heavy;
    ;
}

#articulos img {
    float: left;
    margin: 10px;
}

#articulos p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Franklin Gothic Heavy;
    font-size: 14px;
}

.contenido {
    width: 880px;
    height: 450px;
    margin-left: 15px;
    border-radius: 20px;
    float: left;
}

aside {
    width: 175px;
    height: 511px;
    margin-top: 1px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #ecf0f1;
    float: left;
}

aside h4 {
    
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    font-family: arial;
}

aside h6 {
   
    color: #000000;
    text-align: center;
    padding: 5px;
    font-family: arial;
}

aside p {
    padding: 5px;
    font-size: 10px;
    font-family: arial;
    text-align: justify;
}

aside img {
    margin: 0;
    padding: 10px 0 0 0;
    width: 140px;
    height: 120px;

}

footer {
    width: 1280px;
    height: 100px;
    margin: auto;
    background: #005883;
    color: #ffffff;
    clear: both;
    border-radius: 10px;
    overflow: hidden;
}

footer p {
    font-size: 15px;
    font-family: arial;
    text-align: center;
    padding: 10px;
}

.footer .social [class^="fa "] {
    color: #005883;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 30px;
}

img.abajo {
    width: 200px;
    height: 50px;
    float: right;
    margin-top: -50px;
}

.scrollbar {
    margin-left: 10px;
    float: left;
    height: 450px;
    width: 160px;
    background: #ecf0f1;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.force-overflow {
    min-height: 450px;
}

.force-overflow a {
    font-size: 15px;
}

#panel-oculto {
    display: none;
    position: fixed;
    top: 0;
    width: 1300px;
    height: 200px;
    z-index: 1000;
    background-color: #222;
}

#panel-oculto p {
    color: aliceblue;
    font-family: Franklin Gothic Heavy;
    font-size: 16px;
    text-align: center;
}

button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Franklin Gothic Book;
}

button:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 42px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 2s ease;
}

button:hover:before {
    width: 100%;
}

#botones {
    width: 95px;
    height: 10px;
    display: table;
    float: left;
    margin-top: 27px;
    margin-left: 25px;
    margin-bottom: 17px;
}
#articulos3 {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #F0B429;
    display: inline-block;
    color: black;
    border: 1px solid red;
}